/* RESET */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

/* FIM RESET */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline:  80px;
    
}

header{
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    height: 80px;
    width: 80px;
    background-color:  rgb(0, 0, 0);
}
.menu ul {
    display: flex;
    gap: 32px;
    font-size: 32px;
    
}  
main{
    flex-grow: 1;
    background-color: rgb(155, 125, 183);
    display: flex;
}
.conteudo{
    width: 50%;
    background-color: rgb(159, 0, 0);
    padding-right: 128px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.social{
    display: flex;
    justify-content: space-between;
}
.conteudo p{
    font-size: 48px;
}

.conteudo h1{
    font-size: 80px;
}

.conteudo button{
    height: 64px;
    width: 300px;
    font-size: 32px;
    background-color: black;
    color: white;
}

.social div{
   height: 80px;
   width: 80px;
   border-radius: 50%;
   background-color: lightgray;
}

.destaque{
    height: 50%;
    background-color: rgb(255, 91, 91);
}

footer{
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}