/* RESET */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

/* FIM RESET */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline:  80px;
    
}

header{
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    height: 80px;
    width: 80px;
    background-color:#e84f48
}
.menu ul {
    display: flex;
    gap: 32px;
    font-size: 32px;
    
}  
main{
    flex-grow: 1;
    background-image: url('./img/e3f30f9f-8c180bbc431691f3ba17043836676144-1024-1024.jpeg');
    background-repeat: no-repeat;
    background-position: left 1%;
    background-position: right ;
    display: flex;
}




.conteudo{
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding-right: 128px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.social{
    display: flex;
    justify-content: space-between;
}

.social :nth-child(1){
    background-image: url(./img/insta.png); 
    background-size: cover; 
    background-position: center; 
}

.social :nth-child(2){
    background-image: url(./img/twtr.webp); 
    background-size: cover; 
    background-position: center; 
}
.social :nth-child(3){
    background-image: url(./img/face.png); 
    background-size: cover; 
    background-position: center; 
}


.conteudo p{
    font-size: 37px;
}

.conteudo h1{
    font-size: 120px;
}

.conteudo button{
    height: 64px;
    width: 300px;
    font-size: 32px;
    background-color: black;
    color: white;
}

.social div{
   height: 80px;
   width: 80px;
   border-radius: 50%;
  
}

.destaque{
    height: 50%;
    background-color: rgb(255, 91, 91);
}

footer{
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}